<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>    
    <%= csrf_meta_tags %>git commit -am "Add a full_title helper"
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
